<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over"> 
      <button mat-icon-button color="warn" (click)="drawer.close()"><mat-icon>close</mat-icon></button>
      <app-menu></app-menu>
    </mat-drawer>
   <div class="button-top-left-box">
        <div class="button-top-left">
          <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="drawer.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    <div class="sidenav-content">
<!-- Map content -->
<!-- <div class="map-box">
    <div class="map-absolutebox"> -->
        <app-map></app-map>
    <!-- </div>
</div> -->
<!-- ----------- -->
    </div>
  </mat-drawer-container>